@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


:root{
    /*ACÁ ESTEBLECEREMOS VARIABLES CON ALCANCE TOTAL*/

    /*Variables de COLOR*/
    --azul-marino-oscuro:#0F2D34;
    --azul-medio-oscuro:#1E2F59;
    --azul-estandar:#115B90;
    --morado-estandar:#9550B9;
    --celeste-claro:#42ECF1;
    --amarillo-claro:#F5F0A1;

    /*ESCALA TIPOGRÁFICA*/

    --h1:47.78px;
    --h2:39.81px;
    --h3:33.18px;
    --h4:27.65px;
    --h5:23.04px;
    --h6:19.2px;
    --p:16px;
    --sm:13.33px;
    --xsm:11.11px;

    --Mukta-sans-serif: "Mukta", sans-serif;

    /*ESPACIOS*/
    --padding-1: 17px;     /*medida estandar*/
    --padding-2: 50px;     /*3 x 17 - 1*/
    --gap-1: 16px;    
    --gap-2: 50px;   

}

    /*Reseteo de la pagina...*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /*INICIO de Implementacion FONDOS*/
    /*Implementacion de la tipografia y tamaños*/


body{
    background-color: var(--azul-marino-oscuro);
    font-family: var(--Mukta-sans-serif);
}

body.fondo-index {
    background-image: url("../imagenes/fondo-pa-index.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
body.fondo-inicio {
    background-image: url("../imagenes/fondo-pa-inicio.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
body.fondo-contacto {
    background-image: url("../imagenes/fondo-pa-contacto.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
body.fondo-acercademi {
    background-image: url("../imagenes/fondo-pa-acercademi.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
body.fondo-diario {
    background-image: url("../imagenes/fondo-pa-diario.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
body.fondo-misideas {
    background-image: url("../imagenes/fondo-pa-misideas.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
    /*FIN de Implementacion FONDOS*/


h1{
font-family: var(--Mukta-sans-serif);
font-size: var(--h1);
font-weight: 800;     /*Extrabold*/

}
h2{
font-family: var(--Mukta-sans-serif);
font-size: var(--h2);
font-weight: 700;    /*bold*/

}
h3{
font-family: var(--Mukta-sans-serif);
font-size: var(--h3);
font-weight: 600;     /*semi bold*/

}
h4{
font-family: var(--Mukta-sans-serif);
font-size: var(--h4);
font-weight: 500;     /*medium*/
text-transform: uppercase;
}
h5{
    font-family: var(--Mukta-sans-serif);
font-size: var(--h5);
font-weight: 400;     /*regular*/
text-transform: uppercase;
}
h6{
font-family: var(--Mukta-sans-serif);
font-size: var(--h6);
font-weight: 300;     /*ligth*/
text-transform: uppercase;
}
p{
    font-family: var(--Mukta-sans-serif);
    font-size: var(--p);
    font-weight: 300;      /*ligth*/
}

.sm{
font-family: var(--Mukta-sans-serif);
font-size: var(--sm);
font-weight: 200;     /*extralight*/
text-transform: uppercase;

}
.xsm{
    font-family: var(--Mukta-sans-serif);
font-size: var(--xsm);
font-weight: 200;     /*extralight*/

text-transform: uppercase;
}
.italic{
font-style:italic;
}
.bold{
font-weight: 700;
}
    /*Fin a lo de la tipografia*/


/*INICIO ARCHIVO INDEX*/
.contenedor{
    width: 100%;
}

/*INICIO HEADER*/

/* Header general */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(15, 45, 52, 0.7); 
    backdrop-filter: blur(5px);
    color: var(--amarillo-claro);
    z-index: 1000;

    border-bottom: 2px solid var(--amarillo-claro); 
}

/* Logo con imagen y texto */


header .logo-link {
    display: flex;
    align-items: center;
    gap: 10px; 
    text-decoration: none;
    color: var(--amarillo-claro);
}

header .logo-link img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

header .logo-link span {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navegación */
header nav ul {
    list-style: none;
    display: flex;
    gap: var(--gap-2);
}

header nav ul li a {
    text-decoration: none;
    color: var(--amarillo-claro);
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: var(--celeste-claro);
}


/*FIN HEADER*/
/*INICIO FOOTER*/
.footer{
    background-color: rgba(41, 108, 123, 0.7);
    color: var(--amarillo-claro);
    padding: 40px 20px;
    text-align: center;
    border-top: 2px solid var(--amarillo-claro);
    margin-top: 50px;
    box-sizing: border-box;
}
.footer-bloque{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-1);
}
.footer-logo img{
    width: 60px;
    height: 60px;
    border-radius: 12px;
}
.footer-logo p{
    margin-top: 5px;
    font-size: var(--p);
    font-weight: 600;
}
.footer-nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-nav a{
    color: var(--amarillo-claro);
    text-decoration: none;
    transition: color 0.3s;
}
.footer-nav a:hover{
    color: var(--celeste-claro);
}
.footer-redes a{
    color: var(--amarillo-claro);
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.3s;
}
.footer-redes a:hover{
    transform: scale(1.2);
}
.footer-derechos p{
    font-size: var(--p);
    margin-top: 15px;
}
/*FINAL FOOTER*/
/*INICIO HERO*/
.hero{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-2);
    color: var(--celeste-claro);
    text-shadow: 1px 1px 5px black;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero p{
    font-family: var(--Mukta-sans-serif);
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.5;
    max-width: 600px;
    margin-bottom: 20px;
    color: var(--celeste-claro);
}

.boton{
    display: inline-block;
    padding: 10px 25px;
    background-color: var(--morado-estandar);
    color: var(--amarillo-claro);
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}
.boton:hover{
    filter: brightness(85%);
    transform: translateY(-2px);
}
.imagen-derecha img {
    border-radius: 20px; 
    margin-left: 60px; 
    max-width: 1000px;
    height: auto;    
    display: block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3); 
}

/*FIN ARCHIVO INDEX*/

/*INICIO ARCHIVO INICIO*/
.hero-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
    height: 100vh;
}
.hero-inicio .texto-central{
    background-color: rgb(15, 45, 52, 0.7);
    backdrop-filter: blur(5px);
    padding: 30px 50px;
    border-radius: 12px;
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    color: var(--amarillo-claro);
    box-sizing: border-box;
}
.hero-inicio h2{
    font-size: var(--h2);
    font-weight: 700;
    margin-bottom: 20px;
}
.hero-inicio p{
    font-size: var(--p);
    font-weight: 300;
    margin-bottom: 20px;
}
.hero-inicio h6{
    font-family: var(--Mukta-sans-serif);
    font-size: var(--h6);
    font-weight: 700;
    text-transform: none;
}
/*FIN ARCHIVO INICIO*/

/*INICIO ARCHIVO ACERCA DE MI*/
.categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 30px;
    padding: var(--padding-2);
}
.categoria{
    background-color: rgba(9, 7, 22, 0.7);
    color: var(--amarillo-claro);
    width: 20%;
    min-width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    padding: var(--padding-1);
    border-radius: 12px;
}
.categoria h3{
    font-family: var(--Mukta-sans-serif);
    font-size: var(--h3);
    font-weight: 600;
}
.categoria:hover{
    background-color: var(--morado-estandar);
    transform: translateY(-5px);
}
/*FONDOS ACERCA DE MI*/
body.fondo-a-biografia {
    background-image: url("../imagenes/fondo-pa-biografia.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
body.fondo-a-audiovisuales {
    background-image: url("../imagenes/fondo-pa-audiovisuales.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
body.fondo-a-musicales {
    background-image: url("../imagenes/fondo-pa-musicales.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
body.fondo-a-videojuegos {
    background-image: url("../imagenes/fondo-pa-videojuegos.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/*boton de regreso*/
.boton-regresar-categorias {
    width: 85%;
    max-width: 1000px;
    margin: 140px auto 20px auto; 
    display: flex;
    justify-content: flex-start;
}

.boton-regresar-categorias a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--amarillo-claro);
    color: rgb(15, 45, 52);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.boton-regresar-categorias a:hover {
    background-color: var(--morado-estandar);
    color: #fff;
    transform: scale(1.05);
}
/*boton de regreso*/


.subcontenido-biografia{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-2);
    background-color: rgb(15, 45, 52, 0.7);
    backdrop-filter: blur(5px);
    padding: 40px 50px;
    border-radius: 12px;
    width: 85%;
    max-width: 1000px;
    margin: 100px auto 50px auto;
    color: var(--amarillo-claro);
    box-sizing: border-box;
}
.texto-biografia{
    flex: 1;
}
.texto-biografia h2{
    margin-bottom: 20px;
}
.texto-biografia p{
    line-height: 1.6;
}
.imagen-biografia img{
    max-width: 300px;
    border-radius: 12px;
    border: 4px solid var(--amarillo-claro);
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0, 5);
}
/*subcontenido mis gustos musicales, videojuegos y audiovisuales*/
.bloque-musical-videojuegos-audiovisual{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-2);
    background-color: rgba(41, 108, 123, 0.7);
    backdrop-filter: blur(5px);
    padding: 40px 50px;
    border-radius: 12px;
    width: 85%;
    max-width: 1000px;
    margin: 100px auto 50px auto;
    color: var(--celeste-claro);
    box-sizing: border-box;
}
.texto-musical-videojuegos-audiovisual{
    flex: 1;
}
.texto-musical-videojuegos-audiovisual h2{
    font-size: var(--h2);
    margin-bottom: 20px;
}
.texto-musical-videojuegos-audiovisual p{
    font-size: var(--p);
    line-height: 1.6;
}
.imagen-musical-videojuegos-audiovisual{
    flex: 1;
    display: flex;
    justify-content: center;
}
.imagen-musical-videojuegos-audiovisual img{
    width: 90%;
    max-width: 250px;
    border: 4px solid var(--celeste-claro);
    border-radius: 12px;
}

/*FIN DE ARCHIVO ACERCA DE MI*/
/*INICIO DE ARCHIVO MIS IDEAS*/
.bloque-texto-categoria{
    background-color: rgba(41, 108, 123, 0.7);
    color: var(--amarillo-claro);
    width: 85%;
    max-width: 1000px;
    margin: 100px auto 40px auto;
    padding: 40px 50px;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
}
.bloque-texto-categoria:hover{
    background-color: var(--morado-estandar);
    transform: translateY(-5px);
}
.bloque-texto-categoria h2{
    font-size: var(--h2);
    margin-bottom: 20px;
}
.bloque-texto-categoria p{
    font-size: var(--p);
    line-height: 1.6;
}
/*FIN DE ARCHIVO MIS IDEAS*/
/*INICIO DE ARCHIVO MI DIARIO VISUAL*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--gap-2);
    padding: 50px;
    margin-top: 120px;
}

.card {
    background-color: rgba(165, 55, 163, 0.7);
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    color: var(--amarillo-claro);
    transition: transform 0.3s, background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    background-color: var(--morado-estandar);
    transform: translateY(-5px);
}

.card img {
    width: 100%;  
    height: auto; 
    object-fit: contain;   
    border-radius: 12px;
    margin-bottom: 15px;
}

.card h4 {
    font-size: var(--h4);
    margin-bottom: 10px;
    text-transform: none;
}

.card p {
    font-size: var(--p);
    line-height: 1.4;
    padding: 0 10px; 
    text-align: left; 
}

/*FIN DE ARCHIVO MI DIARIO VISUAL*/
/*INICIO DE ARCHIVO CONTACTO*/
.contacto {
    text-align: center;
    padding: 50px 20px;
    color: var(--amarillo-claro);
    margin-top: 100px;
}

.bloque-contacto {
    background-color: rgba(41, 108, 123, 0.7);
    padding: 40px 30px;
    border-radius: 12px;
    max-width: 900px;
    margin: auto;
    box-sizing: border-box;
}

.contacto h2 {
    font-size: var(--h2);
    margin-bottom: 20px;
}

.contacto p {
    font-size: var(--p);
    line-height: 1.6;
    margin-bottom: 30px;
    color: white;
}

.info-contacto, .gmail-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.info-contacto h3, .gmail-contacto h3 {
    font-size: var(--h3);
    margin-bottom: 10px;
}

.info-contacto p, .gmail-contacto p {
    font-size: var(--p);
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

/* Redes sociales */
.info-contacto .redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.info-contacto .redes a img, .gmail-contacto a img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

.info-contacto .redes a img:hover, .gmail-contacto a img:hover {
    transform: scale(1.1);
}